<div ng-if="error">
	<div class="alert alert-danger">{{ error }}</div>
</div>

<div ng-if="!error">
	<div class="wrapper clearfix">
		<div class="clearfix" style="border: 3px dashed #F26530;padding: 0;width: 616px;box-sizing: border-box;">
			<div class="container-image clearfix">
				<span class="apps-container ank" ui-sortable="sortableOptionsList[1]" ng-model="images[1]" id="container-inner">  
			    <span style="float:left;" ng-repeat="image in images[1] track by $index" class="image col-md-{{ image.col }}" id="{{ image.id }}">  
						<img add-class ng-src="{{ image.src }}" alt="">
					</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="margin-top:20px;">
				<!--<input colorpicker class="form-control" type="text" ng-model="backgroundColor" />//-->
			</div>
			<div class="col-md-8" style="padding-right: 10px;">
				<button id="butt" ng-disabled="+images[1].length === 0" style="margin-top:20px;" class="btn btn-success btn-lg pull-right" ng-click="generate();">Make collage</button>
			</div>
		</div>
	</div>

	<div class="apps-pool ank" ui-sortable="sortableOptionsList[0]" ng-model="images[0]">  
	  <span ng-if="+images[0].length === undefined" style="position:absolute;top: 50%;left: 45%;"><img ng-src="/img/ajax-loader.gif"></span>
	  <span ng-repeat="image in images[0] track by $index" id="{{ image.id }}">  
			<img style="width: 233.33px" add-class ng-src="{{ image.src }}" alt="">
		</span>
	</div>
	  
	<div class="wrapper" ng-if="url">
		<div class="alert alert-info">
			<p>Url: {{ url }}</p>
		</div>
	</div>
</div>