<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1 text-center">
      	<a ng-if="!loading" ng-click="connect();" href="/oauth/connect">
					<img ng-src="/img/instagram.png" alt="">
          <span class="text-center">Instagram</span>
	      </a>
	      <span ng-if="loading">
	       	<img ng-src="/img/ajax-loader.gif" alt=""><br />
	       	fetching images...
	      </span>
      </div>
      <div class="col-md-1 text-center">
      	<img ng-src="/img/facebook_icon.png" alt="" style="opacity: .3;">
        <span class="text-center">Facebook</span>
	    </div>
      
    </div>
  </div>
</div>
