
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-1 text-center">
      	<a ng-if="!loading" ng-click="connect();" ng-href="/oauth/connect?e={{ user }}">
					<img ng-src="/img/instagram.png" alt=""><br> 
          <span class="text-center">Instagram</span>
	      </a>
	      <span ng-if="loading">
	       	<img ng-src="/img/ajax-loader.gif" alt=""><br />
	       	fetching images...
	      </span>
      </div>
      <div class="col-sm-1 text-center">
      	<a style="opacity: .3">
          <img height="51" ng-src="/img/facebook_icon.png" alt=""><br>
          <span class="text-center">Facebook</span>
        </a>
	    </div>
    </div>
  </div>

